<configuration>
  <system.webServer>
    <handlers>
      <!-- Avoid 500.19 by removing any inherited aspNetCore handler before adding ours -->
      <remove name="aspNetCore" />
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>

    <!-- Self-contained publish: DevApp.exe must exist in this folder -->
    <aspNetCore processPath=".\DevApp.exe"
                hostingModel="InProcess"
                stdoutLogEnabled="true"
                stdoutLogFile=".\logs\stdout" />
  </system.webServer>
</configuration>